
<html firebase-url="https://casetext-goldibex.firebaseio.com" on-auth="" >

<div
  fp-bind="users/{{ foo }}"
  as="user"
  watch
  sync
  on-load="doSomething($snap)"
  on-save="saveOk($snap)"
  on-permission-denied=""
  on-error="handleError($error)">
  <button ng-click="$save()">
  <button ng-click="$revert()">
</div>

<div
  fp-page="users"
  as="users"
  limit="10"
  startAt="0"
  on-page="doSomething($snap)"
  on-error="handleError($error)">
  <button ng-click="$next()">
  <button ng-click="$previous()">
  <button ng-click="$reset()">
</div>


</html>
