<!DOCTYPE html>
<html ng-app="demo">

  <head>
    <style type="text/css">
      body {
        font-family: 'Helvetica', sans-serif;
      }

    </style>

    <title>angular-fireproof demo</title>
    <script>
      window.module = {};
    </script>
    <script src="/node_modules/firebase/lib/firebase-web.js"></script>
    <script>
      window.Firebase = window.module.exports;
    </script>
    <script src="/node_modules/fireproof/dist/fireproof.js"></script>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/angular-fireproof.js"></script>
    <script>
    angular.module('demo', ['angular-fireproof'])
    .directive('scopeIsolator', function() {
      return {
        scope: {}
      };
    });
    </script>
  </head>

  <body firebase="https://angular-fireproof-demo.firebaseio-demo.com">
    <h2>angular-fireproof demo</h2>
    <h4>Value of foo: {{ $val('foo') }}</h4>
    <h4>Value of bar: {{ $val('bar') }}</h4>
    <h4>Value of check: {{ $val('check') }}</h4>
    <div scope-isolator>
      <div fp-page="dinosaurs" limit="3" as="dinosaurs">
        <h4>Page {{ $pageNumber }}</h4>
        <ul>
          <li ng-repeat="dinosaur in dinosaurs">
          The {{ $keys[$index] }} is {{ dinosaur.carnivorous ? "carnivorous, so watch out" : "not carnivorous" }}
          </li>
        </ul>

        <button ng-click="$previous()">Previous Page</button>
        <button ng-click="$next()">Next Page</button>
      </div>

      <input fp-bind="foo" copy-to="bar" as="foo" ng-model="foo" autosync="true">
      <input type="checkbox" fp-bind="check" as="check" ng-model="check" autosync="true">
      <input
        fp-bind="communities/{{ communityId }}/followers/{{ $auth.uid }}"
        copy-to="users/{{ $auth.uid }}/followingCommunities/{{ communityId }}"
        as="isFollowing"
        ng-click="isFollowing = !isFollowing"
      >

    </div>
  </body>

</html>
